		<footer class="site-footer">
		  <nav class="navbar footermain">
            {%-for item in site.data.navbar_footer-%}
            <a href="{{item.link}}" class="navbar__item" title="{{item.name}}" target="_blank" rel="noopener"><i class="fab fa-{{item.icon}}"></i></a>
            {% endfor %}
     	  </nav>
      <p>Grape&copy; 2021 Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit. Eius, nemo.</p>
    </footer>
   </main>
</body>
</html>
