<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <meta charset="utf-8">
	<meta name="robots" content="follow, index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
  <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
  <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}">
  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
  <title>{{ page.title }} | {{ site.title }}</title>
	{% feed_meta %}
  {% seo %}
</head>
