    
    <nav class="navbar navmain">
    	
   		{%-for item in site.data.navbar %}
   		<a class="navbar__item" href="{{ site.baseurl }}{{item.link}}"><i class="fas fa-{{ item.icon }}"></i> {{ item.name }}</a>
   		{%-endfor %}
    </nav>
    