---
---
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
:root{
  --primary: #610841;
  --color: #445566;
  --color2: silver;
  --bgColor: #FAFAFA;
  --font: 'Josefin Sans';
  --font2: 'Cinzel';
}
// Tags Start
html{
  box-sizing: border-box;
  font: 20px/1.5 var(--font), system-ui, serif;
}
*{
  margin: 0;
  box-sizing: inherit;
}
body{
  
  color: var(--color);
  background: var(--primary) url('{{ "/assets/images/bg.svg" | relative_url }}') no-repeat fixed center;
  background-size: 100% 100%;
  padding: 5px;
  text-rendering: optimizeLegibility;
	font-display: optional; 
}
img:not(.header__img) {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--font2);
  font-weight: 400;
  font-variant: small-caps;
}
hr{
  border: none;
  height: 4px;
  max-width: 30%;
  background-color: var(--color2);
  margin: 1rem auto;
}
a{
  color: var(--primary);
  transition: 0.25s;
}
a:hover{
  color: var(--color);
}
time{
  font-size: 80%;
  text-decoration: underline dotted;
}
code{
  font-size: 1rem;
  color: var(--primary);
}
pre code{
  font-size: 75%;
}
pre.highlight{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color2);
  border-bottom: 1px solid var(--color2);
}
blockquote{
  background-color: var(--color2);
  padding: 2rem;
  border-left: 0.5rem solid var(--color);
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
dl{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
}
dt{
  border-bottom: 1px dotted var(--color2);
}
dd{
  margin-bottom: 1rem;
}
ul{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media print {
  .no-print{
    display: none;
  }
}
table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th,td{
  padding: 0.25rem 1rem;
}
tr:nth-child(even){
  background-color: var(--color2);
  transition: 0.25s;
}
tr:hover,thead,tfoot{
  background-color: var(--primary);
  color: var(--bgColor);
}
// Tags End
//Site classes
.container{
  max-width: 640px;
  margin: 3rem auto;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 0.5rem;
}
.header__img{
  width: 100%;
  height: auto;
  display: block;
  @media print {
    display: none;
  }
}
.site-title{
  margin-top: 2rem;
  text-align: center;
  color: var(--primary);
  a{
    text-decoration: none;
  }
}
.site-headline{
  text-align: center;
  margin-bottom: 1rem;
}
.site-footer{
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 3rem 3rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent 20%, var(--primary), transparent 80%) 20;
  @media print{
    display: none;
  }
}
.page-content{
  padding: 1rem 2rem;
  text-align: center;
}
// Site classes End
// Navbar Start
.navbar{
  text-align: center;
  .navbar__item{
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    white-space: nowrap;
  }
  &.footermain{
    margin-bottom: 1rem;
    a{
      font-size: 2rem;
      display: inline-block;
      &:hover{
        transform: scale(1.3);
      }
    }
  }
}
.related-posts{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media print {
    display: none;
  }
}
.related-posts__link{
  background-color: var(--color2);
  padding: 0.75rem 0.5rem 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  font-size: 1rem;
}
// Navbar End
// Listed Posts Start
.listed-post__title{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  a:hover{
    color: inherit;
  }
  a::after{
    content: "🔗";
    margin-left: 0.25rem;
    font-size: 60%;
  }
}
.listed-post,
.post,
.page{
  padding: 1rem 2rem;
  h2 a{
    text-decoration: none;
    color: var(--primary);
  }
  h1 ~ p{
    margin-bottom: 1.5rem;
  }
}
// Listed Posts End
// Page Start
.post h1[id]{
  margin-bottom: 2rem;
}
// Page End
// Post Start
.icon-home{
  width: 4rem;
  height: 2rem;
  background-color: var(--color2);
  border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
.icon-home__link{
  padding-top: 0.2rem;
  font-size: 1rem;
  color: var(--bgColor);
  display: block;
}
.post__title{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  text-align: center;
  color: var(--primary);
}
.post__footer{
  p{
    margin-bottom: 1rem;
    font-size: smaller;
  }
  @media print {
    display: none;
  }
}
.breadcrumb__item--active{
  color: var(--color);
}
.footer__categories{
  padding: 0;
  list-style-type: none;
  display: flex;
}
.footer__category{
  margin-right: 0.25rem;
  padding:0.15rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--color2);
  font-size: smaller;
} 
// Post End
.footnotes{
  background-color: var(--color2);
  font-size: smaller;
  padding: 1rem 0;
}
