---
layout: default
---
<h1 class="site-title"><a href="{{site.baseurl | preprend: site.url}}/">{{ site.title }}</a></h1>
{%-if site.subtitle-%}
	<p class="site-headline">{{ site.subtitle }}</p>
{%-endif-%}
{%-include navbar.html-%}
<div class="page-content">
	{{-content}}
	</div>
	<hr>
{%-comment-%} Start post loop{%-endcomment-%}
{% for post in paginator.posts %}
		<article class="listed-post">
			<h2 class="listed-post__title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			{%-capture month-%}{{-post.date | date: "%B"-}}{%-endcapture-%}
			{%-for my in site.data.months-%}
				{%-if  my.month == month-%}
					{%-assign post_month = my.name-%}
					{%-break-%}
				{%-endif-%}
			{%-endfor %}
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post_month }} {{ post.date | date: "%e, %Y" }}</time>
			<p>
				{{ post.excerpt | truncatewords: 20 | strip_html }}
			</p>
		</article>
{%-endfor-%}
{%-comment-%} End post loop{%-endcomment-%}
<nav class="navbar related-posts">
  {% if paginator.next_page %}
    <a class="related-posts__link" href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="Artículos anteriores">&larr; Artículos anteriores</a>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="related-posts__link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="Artículos siguientes">Artículos siguientes &rarr;</a>
  {% endif %}
</nav>