{%-include header.html-%}
<body>
	<main class="container">
    <header class="header">
  	{% if page.image-%}
      <figure>
        <img class="header__img" src="{{ page.image }}" alt="Site header image">
    </figure>
  	{% endif-%}
    </header>
		{{ content }}
{% include footer.html %}
