---
layout: default
---
<div class="icon-home">
			<a class="icon-home__link" href="{{site.url}}{{site.baseurl}}/" title="Inicio">
				<i class="fas fa-home"></i>
			</a>
		</div>
<article class="post">
	{{ content }}
</article>