---
layout: page
---
				<h1 class="post__title">{{page.title}}</h1>
			{{ content }}
				<footer class="post__footer">
					<p>
						{%-capture month-%}{{-page.date | date: "%B"-}}{%-endcapture-%}
						{%-for my in site.data.months-%}
							{%-if  my.month == month-%}
								{%-assign post_month = my.name-%}
								{%-break-%}
							{%-endif-%}
						{%-endfor-%}
					Escrito por: {{ page.author }}, en <time datetime="{{ page.date | date_to_xmlschema }}">{{ post_month }} {{ page.date | date: "%e, %Y" }}</time>
					</p>
					<p class="breadcrumb"><a class="breadcrumb__item" href="{{site.url}}{{site.baseurl}}/" title="Inicio">Inicio</a> &gt; <a class="breadcrumb__item--active">{{page.title}}</a></p>
					<p><strong>Categorías:</strong></p>
					<ul class="footer__categories">
					{% for category in page.categories%}
						<li class="footer__category">{{category|capitalize}}</li>
					{% endfor %}
					</ul>
					<nav class="navbar related-posts">
							{% if page.previous != nil %}
							<span >
								<a class="related-posts__link" href="{{site.baseurl}}{{page.previous.url}}">&larr;  {{page.previous.title}}</a>
							</span>
							{% endif %}
							{% if page.next != nil %}
							<span >
								<a class="related-posts__link" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &rarr;</a>
							</span>
							{% endif %}
					</nav>
				</footer>
